<div class="ind-student">
  <h1><%= "#{@student.first_name} #{@student.last_name}" %><br>
    <small>Address: <%= @student.address %></small><br>
    <small>City: <%= @student.city %></small><br>
    <small>State: <%= @student.state %></small><br>
    <small>Zip: <%= @student.zip %></small>
  </h1>

  <table class="requests table-striped table-bordered col-md-10">
  <caption class="student-requests text-center"><h2>Requests</h2></caption>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Address</th>
      <th>City</th>
      <th>Instructor?</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
    <tr>
      <td><%= request.subject %></td>
      <td><%= request.description %></td>
      <td><%= request.address if !request.location.blank? %></td>
      <td><%= request.city if !request.location.blank? %></td>
      <% if request.no_instructor? %>
      <td><%= link_to "#{request.no_instructor?}", instructor_path(User.find(request.instructor_id)) %></td>
      <% else %>
      <td>No</td>
      <% end %>
    </tr>  
    <% end %>
  </tbody>
</table>
</div>