<div class="ind-student">
  <h1><%= "#{@student.first_name} #{@student.last_name}" %><br>
    <small>Address: <%= @student.address %></small><br>
    <small>City: <%= @student.city %></small><br>
    <small>State: <%= @student.state %></small><br>
    <small>Zip: <%= @student.zip %></small>
  </h1>

  <table class="requests table-striped table-bordered col-md-10">
  <caption><h2>Requests</h2></caption>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Address</th>
      <th>City</th>
      <th>Instructor?</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
    <tr>
      <td><%= request.subject %></td>
      <td><%= request.description %></td>
      <td><%= request.location.address if !request.location.blank? %></td>
      <td><%= request.location.city if !request.location.blank? %></td>
      <td><%= request.has_instructor? %></td>
    </tr>  
    <% end %>
  </tbody>
</table>
</div>